aside {
  width: 200px;

  .author {
    align-items: center;
    @extend %flexbox;
    flex-direction: column;

    figure {
      position: relative;

      svg {
        height: 150px;
        left: -22px;
        position: absolute;
        top: -70px;
        width: 150px;
        z-index: $z-index-low;

        * {
          fill: #363636;
        }
      }
      img {
        height: 95px;
        width: 95px;
    
        &.picture {
          border: 3px solid $secondary;
          @extend %shadow;
          height: 100px;
          margin-bottom: $margin-bottom-default;
          width: 100px;
    
          &.circle {
            border-radius: 50%;
          }
        }
      }
    }

    .name {
      align-items: center;
      display: inline-flex;
      flex-direction: column;
      margin-bottom: $margin-bottom-default;
      .title-01 {
        margin-bottom: 5px;

        &.logo {
          align-items: center;
          @extend %flexbox;
          flex-direction: column;

          svg {
            height: 30px;
            margin-bottom: 0;
            width: 40px;

            * {
              fill: $secondary;
            }
          }
        }
      }

      .title-04 {
        align-items: center;
        font-size: 10px;
        margin-top: 5px;

        svg {
          height: 15px;
          margin-right: 5px;
          width: 15px;

          * {
            fill: $tertinary;
          }
        }
      }
    }

    .social-media {
      margin-bottom: $margin-bottom-default;
      a {
        text-decoration: none;
        img {
          height: 20px;
          margin-right: 5px;
          width: 20px;
        }
      }
    }
  }

  .profile-data {
    .info {
      @extend .title-02;
      line-height: 150%;
      margin: 0 0 $margin-bottom-default 0;
      padding-left: 10px;
      text-align: center;
    }
  }

  .skill-data {
    margin-bottom: $margin-bottom-default;

    > div {
      padding-left: 10px;
      &:first-child {
        margin-bottom: $margin-bottom-default;
      }
    }
  }
}

@media screen and(max-width: 616px) {
  aside {
    .skill-data {
      @include flexbox();
      justify-content: space-around;

      > div {
        &:first-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and(max-width: $mobile01) {
  aside {
    .skill-data {
      flex-direction: column;

      > div {
        &:first-child {
          margin-bottom: $margin-bottom-default;
        }
      }
    }
  }
}

@media screen and(max-width:  616px) {
  aside {
    width: 100%;
  }
}