.c-hero {
  @extend %align-items-center;
  @extend %flex;
  @extend %justify-content-space-between;
  padding: 4rem 0;
  margin-top: 80px;

  .profile-data {
    min-width: 500px;
    padding-left: 2rem;
  }

  .profile-about {
    @extend %align-items-center;
    @extend %flex;
  }

  .title-01 {
    margin-right: 10px;
  }

  p {
    color: $gray-350;
    font-size: 1rem;
    line-height: 150%;
    margin-top: 10px;
    text-align: left;

    span {
      color: $green-500;
      display: inline-block;
      font-family: $font-fira-code;
      font-weight: bold ;
      margin-right: 3px;
    }

    + div {
      padding: 0.5rem 0;
    }
  }

  .team-name,
  .team-heart {
    color: $green-500;
    display: inline-block;
    font-family: $font-fira-code;
    font-size: 1rem;
    margin-left: 5px;
  }

  .team-name {
    margin-left: 0;
  }

  .hero-illustration {
    height: 100%;
    max-width: 450px;
    width: 100%;
  }

  @media #{$media-max992} {
    @include flex-direction-column;
    padding: 1rem;

    .profile-data {
      @include flex-order(2);
      max-width: 620px;
      min-width: auto;

      .profile-about {
        @include flex-wrap;
        padding: 2rem 0 0;
      }
    }

    .hero-illustration {
      @include flex-order(1);
    }
  }
}