.c-timeline {
    margin: 20px 0 $margin-bottom-default 20px;
    position: relative;
  
    .timeline-item {
      position: relative;
      width: calc(100% - 10px);
  
      .item {
        border-radius: 5px;
        color: $tertinary;
        background-color: #222222;
        margin: 0 0 10px 10px;
        padding: 10px;
        position: relative;

        p {
            line-height: 150%;
        }
      }
  
      &:before {
        background-color: $secondary;
        border: 2px solid $secondary;
        border-radius: 50%;
        content: "";
        height: 7px;
        left: -15px;
        position: absolute;
        top: 5px;
        width: 7px;
      }
  
      &:not(:last-child) {
        &:after {
          content: "";
          border-left: 1px dashed $secondary;
          left: -10px;
          position: absolute;
          top: 5px;
          bottom: -25px;
        }
      }
    }

    &.projects {
      .item {
        box-shadow: 3px 3px 5px 3px #2b2b2b;
        margin-bottom: 30px;
        padding: 0;
        .cover-picture {
          img { 
            background-color: $secondary;
            min-height: 200px; 
          }
        }
        .content {
          padding: 10px;
          .header {
            @extend %flexbox;
            justify-content: space-between;
            small {
              background: #4a4a4a;
              color: #101010;
              padding: 2px 5px;
            }
            h4 { margin-top: 4px; }
            .links {
              a { 
                i { font-size: 20px; }
                &:not(:last-child) { margin-right: 10px; }
              }
              img {
                height: 20px;
                margin-right: 5px;
                width: 20px;
              }
            }
          }
        }
      }
      .timeline-item {
        &:not(:last-child) {
          &:after { bottom: -35px; }
        }
      }
    }
  }

  @media screen and(max-width: 616px) {
    .c-timeline {
      .timeline-item {
        .item {
          margin: 0 0 10px 0px;
        }

        &:before {
          left: -20px;
        }

        &:not(:last-child) {
          &:after {
            left: -15px;
          }
        }
      }
    }
  }