.tech {
  max-width: 600px;
  padding: 0 0 3rem;

  ul {
    @extend %flex;
    @extend %flex-wrap;
    @extend %justify-content-center;
  }

  .tag {
    margin-bottom: 0.5rem;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}