.ui-footer {
  @extend %align-items-center;
  @extend %flex;
  @extend %flex-direction-column;
  margin: 2rem 0;

  .social-media {
    a {
      width: 30px;

      &:last-child {
        width: 20px;
      }
    }

    .ico {
      height: 20px;
      width: 20px;

      path {
        fill: $gray-350;
      }
    }
  }

  span {
    color: $gray-375;
    font-family: $font-fira-code;
  }

  @media #{$media-max992} {
    margin-top: 0;
  }
}