.title-01 {
  color: $green-500;
  font-family: $font-fira-code;
  font-size: 24px;
}

.title-02 {
  color: $tertinary;
  font-size: 12px;
}

.title-03 {
  color: $white;
  font-family: 'Press Start 2P', cursive;
  font-size: 11px;
  letter-spacing: 2px;
  line-height: 150%;
  margin-bottom: 10px;
  padding: 5px 0;

  .divisor {
    border-bottom: 4px solid $secondary;
    width: 35px;
    margin-top: 10px;
  }
}

.title-04 {
  color: $secondary;
}

.title-as-icon {
  @extend %flex;
  @extend %justify-content-center;
  margin-bottom: 5rem;

  @media #{$media-max992} {
    margin-bottom: 3rem;
  }
}