aside
    article(class="author")
        //- Author picture
        figure
            include ../../../images/svg/cloud.svg
            img(class="picture circle" alt="Caricatura de Rosto da autora do Portfolio" src="https://avatars0.githubusercontent.com/u/20709086?s=460&u=13c9928ea02aa8349e70cac14ea211c40a8f80d9&v=4")
        
        //- Author Name e Job
        div(class="name")
            h1(class="title-01 logo") 
                include ../../../images/svg/glasses.svg
                | Lais Frigério
            h2(class="title-02") Software Developer
            h2(class="title-04 flex")
                include ../../../images/svg/mail.svg
                | laaisfrigerio@gmail.com
        
        //- Social Media Links
        div(class="social-media")
            a(href="https://www.facebook.com/lais.frigerio" target="_blank" title="Link para a página pessoal do facebook")
                img(class="facebook" src="images/svg/facebook.svg" alt="ícone do facebook")
            
            a(href="https://github.com/laisfrigerio" target="_blank" title="Link para a o repositório no github")
                img(class="github" src="images/svg/github.svg" alt="ícone do github")

            a(href="https://www.instagram.com/laisfrigerio/" target="_blank" title="Link para a página pessoal do instagram")
                img(class="instagram" src="images/svg/instagram.svg" alt="ícone do instagram")

            a(href="https://www.linkedin.com/in/laisfrig%C3%A9rio/" target="_blank" title="Link para a página o perfil do linkedin")
                img(class="linkedin" src="images/svg/linkedin.svg" alt="ícone do linkedin")

    //- Profile description
    article(class="profile-data")
        p(class="info") Olá, meu nome é Lais, tenho 24 anos e sou formada em Análise e Desenvolvimento de Sistemas pela UFPR com <strong>MELHOR</strong> índice de desempenho acadêmico. Atualmente estou cursando minha primeira Especialização em Engenharia de Software pela mesma instituição. Sou apaixonado por futebol, tendo o <strong>CORITIBA</strong> como o time do coração.
        
    //- Technical skill data
    article(class="skill-data")
        div
            h3(class="title-03") Habilidades
                div(class="divisor")

            table(class="table content")
                tr
                    th(class="tech") HTML
                    td(class="skill")
                        div
                            span(class="fill")
                            span(class="fill")
                            span(class="fill")
                            span(class="fill")
                            span(class="fill")
                tr
                    th(class="tech") CSS
                    td(class="skill") 
                        div
                            span(class="fill")
                            span(class="fill")
                            span(class="fill")
                            span(class="fill")
                            span
                tr
                    th(class="tech") Javascript
                    td(class="skill")
                        div
                            span(class="fill")
                            span(class="fill")
                            span(class="fill")
                            span
                            span
                tr
                    th(class="tech") PHP
                    td(class="skill")
                        div
                            span(class="fill")
                            span(class="fill")
                            span(class="fill")
                            span(class="fill")
                            span
                tr
                    th(class="tech") SQL
                    td(class="skill")
                        div
                            span(class="fill")
                            span(class="fill")
                            span(class="fill")
                            span(class="fill")
                            span

        //- Languages skill data
        div
            h3(class="title-03") Idiomas
                div(class="divisor")

            table(class="table content")
                tr
                    th(class="tech") Português
                    td(class="skill")
                        div
                            span(class="fill")
                            span(class="fill")
                            span(class="fill")
                            span(class="fill")
                            span(class="fill")
                tr
                    th(class="tech") Inglês
                    td(class="skill") 
                        div
                            span(class="fill")
                            span(class="fill")
                            span(class="fill")
                            span
                            span
                tr
                    th(class="tech") Alemão
                    td(class="skill")
                        div
                            span(class="fill")
                            span
                            span
                            span
                            span
                tr
                    th(class="tech") Espanhol
                    td(class="skill")
                        div
                            span(class="fill")
                            span
                            span
                            span
                            span
        

        