header(class="c-header")
  div(class="wrapper") 
    img(alt="Óculos" src="/images/svg/glasses.svg")
    nav
      - var blogUrl = stage !== 'prd' ? 'blog.html' : 'blog'

      a(href='/' class="" + (active === 'home' ? "active" : "")) Início
      a(href=blogUrl class="" + (active === 'blog' ? "active" : "")) Blog
