header(class="c-header")
    ul
        li(class="" + (active === 1 ? "active" : ""))
            a(href="index.html") Início
        li(class="" + (active === 2 ? "active" : "")) 
            a(href="educacao.html") Educação
        li(class="" + (active === 3 ? "active" : "")) 
            a(href="projetos.html") Projetos