section(class="experience wrapper")
  ul(class="ui-timeline")
    li(class="timeline-item left")
      div(class="content")
        small(class="timeline-subtitle") Dezembro/2018 - Atualmente, Editora Gazeta do Povo
        h3(class="timeline-title") Analista de Sistemas Júnior
        p Desenvolvimento da nova identidade visual do portal Gazeta do Povo, implementação das páginas AMP, desenvolvimento de sistemas de gestão (cms, assinaturas, lgpd), concepção de um web craweler para autopublicar matérias, integração com gateways de pagamento (Cielo, Ebanx) e desenvolvimento do novo checkout utilizando Vue 3.

    li(class="timeline-item right")
      div(class="content")
        small(class="timeline-subtitle") Janeiro/2018 - Novembro/2018, Agência Polvo
        h3(class="timeline-title") Desenvolvedora Júnior / PHP Backend
        p Promovida à desenvolvedora Junior responsável por conceber API’s com o framework Laravel e integrar com aplicações desenvolvidas com o framework React. Líder do projeto denominado “PreviNEO” atuando junto com o gerente da equipe na análise e definição de requisitos, estimativas de horas e alocação de recursos

    li(class="timeline-item left")
      div(class="content")
        small(class="timeline-subtitle") Outubro/2017 - Dezembro/2017, Agência Polvo
        h3(class="timeline-title") Estágiária / PHP Backend
        p Manutenção de aplicações web em PHP.

    li(class="timeline-item right")
      div(class="content")
        small(class="timeline-subtitle") Setembro/2016 - Outubro/2017, C3SL - Centro de Computação Científica e Software Livre
        h3(class="timeline-title") Pesquisadora
        p Desenvolvimento de aplicações multi plataforma (linux/windows), open source para o governo brasileiro utilizando tecnologias como C/C++, cmake, LibCurl, LibBoost