section(class="experience wrapper")
  div(class="title-as-icon")
    include ../icons/work.svg

  div(class="ui-timeline")
    article(class="timeline-item left")
      div(class="content")
        small(class="timeline-subtitle") Dezembro/2018 - Atualmente, Editora Gazeta do Povo
        h3(class="timeline-title") Analista de Sistemas Júnior
        ul 
          li Desenvolvimento e manutenção do portal Gazeta do Povo e de seus verticais (viver-bem, haus, bom-gourmet, sempre família) com foco no front-end
          li Desenvolvimento da nova identidade visual do portal com foco no SEO, UX (User Experience) e implementação das páginas AMP (Accelerated Mobile Pages)
          li Desenvolvimento e manutenção de sistemas internos, como CMS - Publicador de matérias, Festival Bom Gourmet, Gestão de assinaturas, Gestão LGPD
          li Desenvolvimento de um Web craweler para autopublicar matérias na editoria curitiba/falecimentos (Node, Typescript, CheerioJS)
          li Desenvolvimento e manutentação do Mód. Financeiro integrando ao Gateway de Pagamento Ebanx (fintech Curitibana que processa pagamentos)
          li Desenvolvimento do novo checkout utilizando Vue 3, Composition API

    article(class="timeline-item right")
      div(class="content")
        small(class="timeline-subtitle") Janeiro/2018 - Novembro/2018, Agência Polvo
        h3(class="timeline-title") Desenvolvedora Júnior / PHP Backend
        ul
          li Promovida à desenvolvedora Junior responsável por conceber API’s com o framework Laravel e integrar com aplicações desenvolvidas com o framework React
          li Líder do projeto denominado “PreviNEO” atuando junto com o gerente da equipe na análise e definição de requisitos, estimativas de horas e alocação de recursos

    article(class="timeline-item left")
      div(class="content")
        small(class="timeline-subtitle") Outubro/2017 - Dezembro/2017, Agência Polvo
        h3(class="timeline-title") Estágiária / PHP Backend
        ul
          li Manutenção de aplicações web em PHP.

    article(class="timeline-item right")
      div(class="content")
        small(class="timeline-subtitle") Setembro/2016 - Outubro/2017, C3SL - Centro de Computação Científica e Software Livre
        h3(class="timeline-title") Pesquisadora
        ul
          li Desenvolvimento de aplicações multi plataforma (linux/windows), open source para o governo brasileiro utilizando tecnologias como C/C++, cmake, LibCurl, LibBoost