section(class="last-articles wrapper")
  h3 Blog 
  ul
    li(class="item")
      h4 Como usar css modules no NextJS
      time 22 de Julho de 2021

    li(class="item")
      h4 5 métodos uteis do javascript para manipular array
      time 24 de Julho de 2021

    li(class="item")
      h4 Substitua o if/else, switch-case por obejtos literais no javascript
      time 26 de Julho de 2021