div(class="social-media")
  a(rel="noreferrer" target="_blank" title="P치gina pessoal do Facebook" href="https://www.facebook.com/lais.frigerio")
    include ../icons/social-media/facebook.svg

  a(rel="noreferrer" target="_blank" title="Reposit칩rio no github" href="https://github.com/laisfrigerio")
    include ../icons/social-media/github.svg

  a(rel="noreferrer" target="_blank" title="P치gina pessoal do Instagram" href="https://www.instagram.com/laisfrigerio/")
    include ../icons/social-media/instagram.svg

  a(rel="noreferrer" target="_blank" title="P치gina do perfil no Linkedin" href="https://www.linkedin.com/in/laisfrigerio/")
    include ../icons/social-media/linkedin.svg