section(class="tech wrapper")
  ul
    li(class="tag green") Javascript
    li(class="tag green") Typescript
    li(class="tag green") Node
    li(class="tag green") Vue
    li(class="tag green") React
    li(class="tag green") Webpack
    li(class="tag green") Gulp
    li(class="tag green") HTML
    li(class="tag green") Pug
    li(class="tag green") CSS
    li(class="tag green") Sass
    li(class="tag green") PHP
    li(class="tag green") Java
    li(class="tag green") Heroku
    li(class="tag green") AWS
    li(class="tag green") Git