extends ./frameset.pug

block content
  - const active = 'about';
  - const arrowRight = "=>"
  include ./components/header.pug

  include ./components/hero.pug

  include ./components/experience.pug
  
  include ./components/footer.pug