extends ./frameset.pug

block pageTitle
  title Blog | Lais Frigério

block content
  - var active = 'blog';
  include ./components/header.pug

  section(class="blog wrapper")
    ul(class="list-articles")
      li(class="item")
        a(href="#") 
          time 26 de Julho de 2021
          strong Substitua o if/else, switch-case por objetos literais no javascript
          p Na dica de hoje vou apresentar uma forma de otimizar seu código no javascript

      li(class="item")
        a(href="#")
          time 24 de Julho de 2021
          strong 5 métodos uteis do javascript para manipular array
          p Na dica de hoje vou apresentar 5 métodos mais utilizadas para manipular array

      li(class="item")
        a(href="/blog/4-maneiras-de-remover-elementos-de-um-array.html")
          time 22 de Julho de 2021
          strong 4 maneiras de remover elementos de um array
          p Na dica de hoje vou apresentar 4 maneiras mais utilizadas para remover elementos de um array

  include ./components/footer.pug