extends ./frameset.pug

block content
    - var active = 1;
    include ./components/c-header.pug
    div(class="flex tablet column")
        include ./components/c-aside.pug
        section(id="content")
            article(class="experience-data")
                h3(class="title-03") Experiência Profissional
                    div(class="divisor")

                //- Timeline
                div(class="c-timeline")
                    div(class="timeline-item")
                        div(class="item")
                            div
                                small 
                                    | Dezembro/2018 - Atualmente, 
                                    strong Editora Gazeta do Povo
                                h4(class="title-04") Analista de Sistemas Júnior
                                
                            ul(class="ul-list")
                                li Desenvolvimento e manutenção do portal Gazeta do Povo e de seus verticais (viver-bem, haus, bom-gourmet, sempre família) com foco no front-end;
                                li Desenvolvimento da nova identidade visual do portal com foco no SEO, UX (User Experience) e implementação das páginas AMP (Accelerated Mobile Pages);
                                li Desenvolvimento e manutenção de sistemas internos, como backoffice's (CMS - Publicador de matérias, Festival Bom Gourmet).
                    
                    div(class="timeline-item")
                        div(class="item")
                            div
                                small
                                    | Janeiro/2018 - Novembro/2018, 
                                    strong Agência Polvo
                                h4(class="title-04") Desenvolvedora Júnior / PHP Backend
                            
                            ul(class="ul-list")
                                li Promovida à desenvolvedora junior responsável por conceber API’s com o framework Laravel e integrar com aplicações desenvolvidas com o framework React JS;
                                li Líder do projeto denominado “PreviNEO” atuando junto com o gerente da equipe na análise e definição de requisitos, estimativas de horas e alocação de recursos.
                    
                    div(class="timeline-item")
                        div(class="item")
                            div
                                small
                                    | Outubro/2017 - Dezembro/2017, 
                                    strong Agência Polvo
                                h4(class="title-04") Estágiária / PHP Backend
                            ul(class="ul-list")
                                li Manutenção de aplicações web desenvolvidas com o framework Polvo.

                    div(class="timeline-item")
                        div(class="item")
                            div
                                small
                                    | Setembro/2016 - Outubro/2017, 
                                    strong C3SL - Centro de Computação Científica e Software Livre
                                h4(class="title-04") Pesquisadora
                            ul(class="ul-list")
                                li Desenvolvimento de aplicações multi plataforma, open source para o governo brasileiro utilizando tecnologias como C/C++, cmake, LibCurl, LibBoost;
                                li Já para o gerenciamento dos projetos, utilizamos Git (GitLab).