extends ./frameset.pug

block content
    - var active = 3;
    include ./components/c-header.pug
    div(class="flex tablet column")
        include ./components/c-aside.pug
        section(id="content")
            article(class="experience-data")
                h3(class="title-03") Projetos
                    div(class="divisor")

                //- Timeline
                div(class="c-timeline")
                    
                    div(class="timeline-item")
                        div(class="item")
                            div
                                small
                                    | JS + Canvas
                                h4(class="title-04") Tretis Game
                            
                            ul(class="ul-list")
                                li Desenvolvimento jogo Tretis com Javascript;
                                li 
                                    | Para jogar clique 
                                    a(href="https://laisfrigerio.github.io/js-tetris-game/?ref=portfolio" class="link") aqui
                                li 
                                    | Github repositório 
                                    a(href="https://github.com/laisfrigerio/js-tetris-game" class="link") https://github.com/laisfrigerio/js-tetris-game
                            
                            img(class="img-fluid" src="images/projects/js-tetris-game-2.png" alt="Imagem do board do jogo" title="Imagem do board do jogo")

                    div(class="timeline-item")
                        div(class="item")
                            div
                                small
                                    | Java + Swing + JDBC + MySQL
                                h4(class="title-04") Clínica Life App
                            
                            ul(class="ul-list")
                                li Aplicação para desktop para gerenciamento de uma clínica de fisioterapia e estética;
                                li 
                                    | Github repositório 
                                    a(href="https://github.com/laisfrigerio/ClinicaLifeApp" class="link") https://github.com/laisfrigerio/ClinicaLifeApp
                            
                            img(class="img-fluid" src="https://raw.githubusercontent.com/laisfrigerio/ClinicaLifeApp/master/screens/agenda.png" alt="Imagem da tela agenda" title="Imagem da tela agenda")