extends ./frameset.pug

block content
    - var active = 3;
    include ./components/c-header.pug
    div(class="flex tablet column")
        include ./components/c-aside.pug
        section(id="content")
            article(class="experience-data")
                h3(class="title-03") Projetos
                    div(class="divisor")

                //- Timeline
                div(class="c-timeline projects")

                    article(class="timeline-item")
                        div(class="item")
                            picture(class="cover-picture")
                                img(class="img-fluid" src="https://raw.githubusercontent.com/laisfrigerio/what-is-the-brand/main/screenshots/third.png" alt="Board do jogo" title="Board do jogo")
                            div(class="content")
                                header(class="header")
                                    div(class="title")
                                        small Javascript
                                        h4(class="title-04") Memory card game
                                    div(class="links")
                                        a(title="Repositório no github do Projeto Memory Card Game" href="https://github.com/laisfrigerio/what-is-the-brand" class="link")
                                            i(class="fa fa-github")
                                div(class="body")
                                    p Jogo da Memória desenvolvido com Javascript puro e com testes unitários (91.46% de cobertura)

                    article(class="timeline-item")
                        div(class="item")
                            picture(class="cover-picture")
                                img(class="img-fluid" src="images/projects/todo-flix-angular.png" alt="Lista de atividades" title="Lista de atividades")
                            div(class="content")
                                header(class="header")
                                    div(class="title")
                                        small AngularJS
                                        h4(class="title-04") Todoflix
                                    div(class="links")
                                        a(title="Repositório no github do Projeto TodoFlix Angular" href="https://github.com/laisfrigerio/todo-flix-angular" class="link")
                                            i(class="fa fa-github")
                                        a(title="Add todo's" href="https://laisfrigerio.github.io/todo-flix-angular/?ref=portfolio" class="link")
                                            i(class="fa fa-play")
                                div(class="body")
                                    p Todo App desenvolvido em AngularJS
                    
                    article(class="timeline-item")
                        div(class="item")
                            picture(class="cover-picture")
                                img(class="img-fluid" src="images/projects/js-tetris-game-2.png" alt="Imagem do board do jogo" title="Imagem do board do jogo")
                            div(class="content")
                                header(class="header")
                                    div(class="timeline-title")
                                        small JS + Canvas
                                        h4(class="title-04") Tretis Game
                                    div(class="links")
                                        a(title="Repositório no github do Projeto Tetris Game em Javascript" href="https://github.com/laisfrigerio/js-tetris-game" class="link") 
                                            i(class="fa fa-github")
                                        a(title="Jogar Tetris Game" href="https://laisfrigerio.github.io/js-tetris-game/?ref=portfolio" class="link")
                                            i(class="fa fa-play")
                                div(class="body")
                                    p Jogo Tretis com Javascript

                    article(class="timeline-item")
                        div(class="item")
                            picture(class="cover-picture")
                                img(class="img-fluid" src="https://raw.githubusercontent.com/laisfrigerio/ClinicaLifeApp/master/screens/agenda.png" alt="Tela com uma agenda" title="Tela com uma agenda")
                            div(class="content")
                                header(class="header")
                                    div(class="title")
                                        small Java + Swing + JDBC + MySQL
                                        h4(class="title-04") Clínica Life App
                                    div(class="links")
                                        a(title="Repositório no github do Projeto Clinica Life App" href="https://github.com/laisfrigerio/ClinicaLifeApp" class="link")
                                            i(class="fa fa-github")
                                        a(title="Download do instalador  formato .exe - Windows" href="https://github.com/laisfrigerio/ClinicaLifeApp/releases/download/3.0.3/Clinica.Life.Instalador.v-3.0.3.exe" class="link")
                                            i(class="fa fa-download")
                                div(class="body")
                                    p Aplicação desktop para gerenciamento de uma clínica de fisioterapia e estética