%align-items-center {
  -webkit-align-items: center;
    -webkit-box-align: center;
       -moz-box-align: center;
       -ms-flex-align: center;
          align-items: center;
}

%flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

%justify-content-center {
  -webkit-justify-content: center;
         -webkit-box-pack: center;
          justify-content: center;
            -moz-box-pack: center;
            -ms-flex-pack: center;
}

%justify-content-space-between {
  -webkit-justify-content: space-between;
         -webkit-box-pack: justify;
          justify-content: space-between;
            -moz-box-pack: justify;
            -ms-flex-pack: justify;
}