$desktop: 1176px;
$tablet01: $wrapper + 50px;
$mobile01: 409px;

%flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

$margin-bottom-default: 20px;

%shadow {
  -moz-box-shadow:    0 0 20px 0 #191818;
  -webkit-box-shadow: 0 0 20px 0 #191818;
  box-shadow:         0 0 20px 0 #191818;
}