//$primary:#141414;
$primary:#2f2d2d;
//$primary: #262626;
//$primary:#1e2338;
//$secondary: #808080;
//$secondary: #ecd84c; // amarelo
$secondary: #9C27B0; // roxo
$tertinary: #888585;
$white: #fff;
$rose: #a13275;

$facebook: #29487d;
$linkedin: #0077b5;
$github: #24292e;

$border01: #ccc;

// social media
$facebook: #29487d;
$github: #181717;
$instagram: #E4405F;
$linkedin: #0077B5;
$youtube: #FF0000;